<footer class="footer">
  <small>
    all the icon used in this site was brought to you by <%= link_to "Glyphicons", 'http://glyphicons.com/' %>
</small>
<nav>
  <ul>
    <li><%= link_to "Contact", '#' %></li>
  </ul>
</nav>
</footer>
