<footer class="footer">
  <small>
    this site was a tutorial app using <a href="http://www.rubyonrails.org">Ruby on Rails</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
