  <% if product.errors.any? %>
    <div id="error_explanation">
      <h4>Found <%= pluralize(product.errors.count, "error") %> in the form you submitted</h4>
      <ul>
        <% product.errors.full_messages.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
